.product-card {
  border: 1px solid #95a0a7;
  border-radius: 8px;
  width: 300px;
  height: 500px;
  position: relative;
}
.product-card img {
  height: 286px;
  width: 286px;
  margin: 7px;
}

.product-card .card-info {
  padding: 0 14px;
}

.product-card .product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  color: #0e161a;
  margin: 5px 0;
}
.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #0e161a;
  margin: 11px 0;
}

.production-info {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #2a414f;
  margin-top: 36px;
}
.production-info p {
  padding: 0;
  margin-bottom: 11px;
  margin-top: 0;
}
.btn-add-to-cart {
  width: 100%;
  background: #ffe0b3;
  border-top: 1px solid #95a0a7;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px 0px 8px 8px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #0e161a;
  position: absolute;
  bottom: 0;
  margin: 0;
}
